.movie-card {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card:hover {
  transform: scale(1.05);
}
